h{
    color:rgb(255, 255, 255);
    text-align: center;

}
.la:visited {
    color: rgb(236, 114, 114);
    
  }
.lpara{
    color:rgb(226, 244, 137);
}
input{
    padding-top:5px;
    padding-bottom: 5px;
    margin-left:20px;
    border-radius: 20px;
    border-color: aliceblue;
    padding-left:10px;
}
.demo23{
    color:rgb(255, 255, 255);
    background-color:rgb(79, 78, 78);
    height:500px;
    width:400px;
    margin-top: 25px;
    margin-left:550px;
    border-radius:50px;
    font-size: 30px;
    font-family: garamond;
    
}
::placeholder{
    font-size: 15px;
}
.limg{
    height:50px;
    width:50px;
    margin-left:10px;
    margin-top: 20px;
    border-radius: 50%;
}


