.demo{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size:30px;
    padding-top:0px;
    font-weight: bold;
  }
   
  .ddemo {
        width: 300px;
        border: 5px solid rgb(63, 5, 238);
        padding: 50px;
        margin:10px;
        border-radius:10px;
        background-image: url("");
        height:500px;
       
  }
  .bdemo2{
    margin:10px;
  }
  .prob{
    color:black;
    background-color:gray;
    height:550px;
    width:450px;
    margin-top: 50px;
    margin-left:700px;
    border-radius:50px;
    font-size: 20px;
    font-family: garamond;
    text-align: center;
  }
  .proi{
    margin-right: 150px;
  }
  